html {
  box-sizing: border-box;
  color: white;
}

i {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", sans-serif;
  background-image: radial-gradient(
    circle at 0% 0%,
    #373b52,
    #252736 51%,
    #1d1e26
  );
}

input {
  border-style: none;
  background: transparent;
  outline: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.container__input {
  display: flex;
  padding: 10px;
  width: 40%;
  align-items: center;
  justify-content: center;
}

.container__info {
}

.title {
  margin-top: 100px;
}

.webflow-style-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  border-radius: 2px;
  padding: 15px;
  background: rgba(57, 63, 84, 0.8);
}

label {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(
    to right,
    #b294ff,
    #57e6e6,
    #fbff00,
    #57e6e6,
    #ff00c8,
    #57e6e6,
    #69ff12,
    #57e6e6
  );
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
  transition: all 0.2s ease;
  opacity: 0;
}

input:focus ~ label {
  opacity: 1;
}
.card-icon {
  align-items: center;
  justify-content: center;
  display: flex;
}
.icon {
  font-size: 25px;
}

.webflow-style-input input {
  flex-grow: 1;
  color: #bfd2ff;

  vertical-align: middle;
}

.webflow-style-input input::-webkit-input-placeholder {
  color: #7881a1;
}

.webflow-style-input button {
  color: #7881a1;
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color 0.25s;
}

.webflow-style-input button:hover {
  color: #bfd2ff;
}

footer {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}
